SECRET_KEY=cambiar-por-una-clave-larga-y-secreta
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=mega_gym
DB_USER=postgres
DB_PASSWORD=tu_password_de_postgres
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,https://localhost
